/* We remove the margin, padding, and list style of UL and LI components */
body {
	background-color:#fff;
}
#sidebar ul, #sidebar ul li{
    margin:0;
    padding:0;
    list-style:none;
}
#sidebar{
	height: calc(100% - 65px);
	padding: 0;
	margin: 0;
	width:75px;
	position: absolute;
	top: 65px;
	left:70;
	bottom:0px;
}
#sidemenu{
	background:#67737b;
    width:70px;
    height: 100%;
}
#wrapper {
	/* Hides everything inside the wrapper*/
	display:none;
	/* So that jQuery FadeIn can be used*/
	margin:15px 0 0 0;
	padding:0;
	position: relative;
	left:70px;
	overflow: hidden;
	float:left;
	width: calc(100% - 85px);
	height:100%;
}
/* We apply background color and border bottom white and width to 150px */
#sidebar ul li.item{
    background-color:#67737b;
    width:inherit;
    cursor:pointer;
    text-align:center;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	border-top: 1px solid rgba(255, 255, 255, .1);
}
/* Applying a seperator between each icon/link */
#sidebar ul li.first {
	margin-top:5px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	border-top: none;
}
/* Fixes spacing issues above sidebar */
@media (max-width: 768px) {
	#sidebar ul li.first {
		margin-top:0px;
	}
}
#sidebar ul li.last {
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: none;
	}

/* We apply the background hover color when user hover the mouse over of the li component */
#sidebar ul li:hover{
    /*position:relative;*/

}

/* We apply the link style */
#sidebar ul li a{
    padding-top:25px;
    padding-bottom:25px;
    color:#f8f8f8;
    display:inline-block;
    text-decoration:none;
}
#sidebar ul li a.selected {
	background-color: rgba(255,255,255,0.05);
	text-shadow: 1px 1px #333;
	width:100%;
	border: none;
}

#sidebar ul li a.selected:after {
    content: "  ";
    display: block;
    border-bottom: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid rgba(255,255,255,1);
    border-top: 0.5em solid transparent;
    height: 0px;
    margin-top: -35px;
    position: absolute;
	left: 56px;
	width:1px;

}

#sidebar ul li a:hover{
	color:#f8f8f8;
	background-color: rgba(255,255,255,0.05);
	width: inherit;
	text-shadow: 1px 1px #333;
    transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
}

#sidebar ul li a:hover:after {
    content: "  ";
    display: block;
    border-bottom: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid rgba(255,255,255,1);
    border-top: 0.5em solid transparent;
    height: 0px;
    margin-top: -35px;
    position: absolute;
    left:56px;
    width: 1px;
    transition:border-right 1s ease;
    -o-transition:border-right 1s ease;
    -webkit-transition:border-right 1s ease;
    -moz-transition:border-right 1s ease;
}

/* Icon Menu Styling */
 #sidemenu span{
	 font-size: .9em;
	 padding: 5px 15px 5px 15px;
 }

/* Settings Icon stick to bottom */
#sidebar .settings {
	position: absolute;
	bottom: 0;
	margin:0;
}
	@media (max-height: 475px) {
		#sidebar .settings{
			position: relative;
		}
	}

/* Profile Body Styling */
	.main-left {
		background-color: #fff;
		height:100%;
		margin:0;
		padding:0;
	}
	.main-right {
		margin:0px;
		padding:0px;
	}
		.profile-section{
			padding:20px;
			margin:0 0 20px 0;
			height:100%;
			width:100%;
			background-color: #f8f8f8;
			border: 1px solid #f1f1f1;
		}
		/* Text styling */
		.profile-wrap {
			margin: 0px;
			padding: 0;
		}
		.profile-text {

		}
		.profile-info {
			padding-left:20px;
			margin:0;
		}
			/*Team section styling*/
			.team-section {
				width:100%;
				margin: 0 0 10px 0;
				float:left;
				display: block;
				clear: both;

			}
			.team-icon {
				float:left;
				width:20%;
				border-radius: 5%;
			}
			.team-text {
				text-transform: uppercase;
				padding: 12px 0 0 10px;
				float:left;
			}
			/*Achievements section styling */
			#achievements-section {
				display: block;
				float:left;
			}
			.achievements-icon {
				float:left;
			}
			.achievements-text {
				float:left;
				padding: 10px 0 0 10px;
				text-transform: uppercase;
			}
	/* Profile body end */